.page-container {
  /* display: grid;
  grid-template-columns: 200px 1fr; */
}

.nav-wrapper {
  /* padding-top: 16px; */
  /* height: 100vh; */
  background-color: #231e1e;
  color: white;
}

.time-stamp {
  font-size: 14px;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 4fr 5fr;
  background-color: #f8f9fa;
  padding: 8px 16px;
  height: 100vh;
}

.table-wrapper {
  width: 90%;
  margin: 20px;
  max-height: 50vh;
  overflow-y: auto;
  border-radius: 8px;
}

.section-heading {
  font-size: 16px;
  color: var(--text-secondary);
  text-align: left;
  padding: 0 8px;
}

.heading-cards {
  margin: 4px 8px;
  width: 100%;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: hidden;
  overflow-x: auto;
}

.dashboard-list h2 {
  margin: 0;
  margin-top: 12px;
}