table {
  width: 100%;
  min-width: 600px;
  color: black;
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  table-layout: fixed;
  width: 100%;
}

table th:nth-child(1) { width: 18%; } /* Country */
table th:nth-child(2) { width: 25%; } /* Amount */
table th:nth-child(3) { width: 30%; } /* Payment Method */
table th:nth-child(4) { width: 10%; } /* Source */
table th:nth-child(5) { width: 15%; } /* Status */

table td {
  overflow: hidden;
  text-overflow: ellipsis;
}

table th {
  padding: 4px 6px;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f0f0f0;
  font-size: 14px;
  text-transform: uppercase;
}

table td {
  padding: 8px 6px;
  text-align: left;
}

.skeleton-text {
  height: 16px;
  width: 100%;
  background: #f0f0f0;
  background-image: linear-gradient(
    90deg,
    #f0f0f0 0px,
    #e0e0e0 40px,
    #f0f0f0 80px
  );
  background-size: 200% 100%;
  border-radius: 4px;
  animation: shimmer 1.5s infinite linear;
}

th .skeleton-text {
  width: 60%;
  height: 18px;
  background-image: linear-gradient(
    90deg,
    #e0e0e0 0px,
    #d0d0d0 40px,
    #e0e0e0 80px
  );
}

@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.row-highlight {
  background-color: rgb(207, 255, 207) !important;
  color: blue;
}
